<!-- 
<h4><a class="brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
    {% if site.subtitle %}<small>{{ site.subtitle }}</small>{% endif %}
</h4>
-->
<!-- Begin Menu Navigation
================================================== -->
<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top mediumnavigation nav-down">
    
    <div class="container pr-0">    
    
    <!-- Begin Logo -->
    <a class="navbar-brand" href="{{ site.mainurl }}">
    <img src="{{ site.logo }}" alt="{{ site.name }}">
    </a>
    <!-- End Logo -->
  	
<!--
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMediumish" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    
-->
	   
<!-- Begin Menu -->
	    
	    
<!--
    <div class="collapse navbar-collapse" id="navbarMediumish">
      
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
              	  <a class="nav-link" href="{{ site.mainurl }}/Home">Home</a>
                </li>
 		
		{% if page.url == "/" %}
                <li class="nav-item active">
                {% else %}
                <li class="nav-item">
                {% endif %}
                <a class="nav-link" href="{{ site.baseurl }}/">Blog</a>
                </li>
		
		<li class="nav-item">
              	  <a class="nav-link" target="_blank" href="{{ site.appmainurl }}/account/select-edition">Price</a>
                </li>
		    
		 <li class="nav-item">
              	  <a class="nav-link" href="{{ site.mainurl }}/Faq">F.A.Q</a>
                </li>
             
                
                <li class="nav-item">
                <a target="_blank" class="nav-link" href="https://www.facebook.com/Askpio-111337873538011"><i class="fab fa-facebook-f"></i></a>
                </li>
                
                <li class="nav-item">
                <a target="_blank"  class="nav-link" href="https://twitter.com/AskPio"><i class="fab fa-twitter"></i></a>
                </li>
                
            </ul>		
    </div>
	   
	    -->
	    
<!-- End Menu -->   
    </div>
</nav>
<!-- End Navigation
================================================== -->
